.card
  .card-header
    = product.name
  - product.images.each do |img| 
    .card-body
      = image_tag img.url
  .card-body
    = product.description
    = product.price
    = product.quantity
    = product.price
  .card-footer
    = link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
